@media (max-width: 1120px) {
    .conteudo-principal {
        width: 62vw;
    }
}

@media (max-width: 960px) {
    .cabecalho {
        gap: 66%;
    }

    .conteudo-principal {
        width: 50vw;
    }

    .conteudo-principal .technologies ul li {
        width: 75px;

        font-size: 10px;
    }
}

@media (max-width: 770px) {
    .conteiner {
        display: flex;
        flex-direction: column;
    }

    .conteudo-principal {
        width: 15%;
        height: 100%;
    }

    .cabecalho {
        width: 90vw;
    }

    .conteudo-principal .projetos {
        display: flex;
        flex-direction: column;

        width: 90vw;
    }

    .conteudo-principal .projeto,
    .conteudo-principal .titulo-technologies {
        width: 90vw;
    }

    .conteudo-principal .technologies {
        width: 90vw;
        height: 348px;
    }

    .conteudo-principal .technologies ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .conteudo-principal .titulo-publicacoes {
        width: 90vw;
    }

    .conteudo-principal .publicacoes {
        width: 90vw;
        height: 348px;
    }

    .conteudo-principal .publicacoes img {
        width: 110px;
        height: 110px;
    }
}

@media (max-width: 430px) {
    .cabecalho {
        gap: 53%;
    }
}