@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  --text-color: #837e9f;
  --text-color-2: #c8c5cc;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;
}

body {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 90%;
  background-color: #22212c;
  color: var(--text-color);

  position: absolute;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 500px;
  
  padding: 10px;
  border: 1px;
  border-radius: 20px;
  height: 86px;
  margin-top: 40px;
  margin-right: 40px;
  margin-left: 500px;
  background-color: var(--bg-cards);
}

.cabecalho a {
  color: var(--text-color);
  transition: text 900ms;
}

.cabecalho a:hover {
  color: var(--text-color-2);
}

.conteudo-principal .projetos {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 31px;
  margin-right: 40px;
  margin-left: 500px;
  gap: 30px;
}
.conteudo-principal .projetos a {
  color: var(--text-color);
  transition: text 900ms;
}

.conteudo-principal .projetos a:hover {
  color: var(--text-color-2);
}

.conteudo-principal .projeto-1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  padding: 25px;
  border: 1px;
  border-radius: 20px;
  background-color: var(--bg-cards);
}

.conteudo-principal .projeto-1 h3 {
  display: flex;
  align-items: center;
  gap: 16px;
}

.conteudo-principal .projeto-1 span {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
}

.conteudo-principal .projeto-2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  padding: 25px;
  border: 1px;
  border-radius: 20px;
  background-color: var(--bg-cards);
}

.conteudo-principal .projeto-2 h3 {
  display: flex;
  align-items: center;
  gap: 16px;
}

.conteudo-principal .projeto-2 span {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
}

.conteudo-principal .titulo-technologies {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border: 1px;
  border-radius: 20px;
  height: 86px;


  margin-top: 40px;
  margin-right: 40px;
  margin-left: 500px;
  background-color: var(--bg-cards);
}

.conteudo-principal .technologies {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  border: 1px;
  border-radius: 20px;
  height: 86px;
  margin-top: 40px;
  margin-right: 40px;
  margin-left: 500px;
  background-color: var(--bg-cards);
}

.conteudo-principal .technologies ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 40px;
  text-align: center;
}

.conteudo-principal .technologies ul li {
  border-radius: 20px;
  width: 100px;
  left: 70px;
  top: 816px;
  padding: 12px;

  background-color: var(--bg-techs);
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}

.conteudo-principal .titulo-publicacoes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border: 1px;
  border-radius: 20px;
  height: 86px;


  margin-top: 40px;
  margin-right: 40px;
  margin-left: 500px;
  background-color: var(--bg-cards);
}

.conteudo-principal .publicacoes {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 100px;
  border: 1px;
  border-radius: 20px;
  height: 86px;
  margin-top: 40px;
  margin-right: 40px;
  margin-left: 500px;
  background-color: var(--bg-cards);
}

.conteudo-principal .publicacoes img {
  border-radius: 100%;
  width: 150px;
  height: 150px;
  margin-top: 21px;
}

.conteudo-principal .publicacoes-conteudo {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.conteudo-principal .publicacoes-conteudo p {
  margin-top: 10px;
  margin-left: 65px;
  color: var(--text-color);
}

.conteudo-principal .publicacoes-conteudo p .publicacao-nome {
  font-weight: bold;
  font-size: 100%;
  opacity: 1;
}

.conteudo-principal .publicacoes-conteudo p span {
  font-size: 85%;
  opacity: 0.5;
}

.conteudo-secundario {
  width: 15%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
}

img.avatar {
  border-radius: 100%;
  width: 128px;
  height: 128px;
  padding: 1.7px;
  left: 150px;
  top: 72px;
  border: 2px solid #00ff00;
}

.conteudo-secundario .perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  padding: 20px;
  border: 1px;
  border-radius: 20px;

  width: 348px;
  height: 348px;
  margin-top: 40px;
  margin-right: 40px;
  margin-left: 60px;

  font-size: 23px;

  background-color: var(--bg-cards);
}

.conteudo-secundario .perfil h1 {
  margin-top: 20px;
}
.conteudo-secundario .perfil p {
  font-size: 70%;
  margin-top: 10px;
}

.conteudo-secundario .infos {
  padding: 70px;
  border: 1px;
  border-radius: 20px;

  width: 348px;
  height: 348px;
  left: 40px;
  top: 362px;
  margin-top: 40px;
  margin-right: 40px;
  margin-left: 60px;

  background-color: var(--bg-cards);
}

.conteudo-secundario .infos .infos-ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.conteudo-secundario .infos .infos-ul li {
  display: flex;
  gap: 16px;
  align-items: center;
}

.conteudo-secundario .infos .infos-ul li a {
  color: var(--text-color);
  transition: text 900ms;
}

.conteudo-secundario .infos .infos-ul li a:hover {
  color: var(--text-color-2);
}

.conteudo-secundario .education {
  padding: 70px;
  border: 1px;
  border-radius: 20px;

  width: 348px;
  height: 352px;
  margin-top: 40px;
  margin-right: 40px;
  margin-left: 60px;

  background-color: var(--bg-cards);
}

.conteudo-secundario .education ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  margin-top: 46px;
}

.conteudo-secundario .education ul li {
  margin-top: 10px;
}

@media (max-width: 690px) {
  body {
    padding: auto;
  }

  .conteudo-principal {
    width: 15%;
    height: 100%;
    position: relative;
    left: 0;
    top: 0;
    margin-bottom: 0;
  }

  .cabecalho {
    display: block;
    border: 1px;
    border-radius: 20px;
  
    width: 348px;
    left: 40px;
    top: 362px;
    margin-top: 1210px;
    margin-right: 40px;
    margin-left: 60px;
  
    background-color: var(--bg-cards);
  }

  .conteudo-principal .projetos {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 1px;
    border-radius: 20px;
  
    width: 348px;
    height: 348px;
    left: 40px;
    top: 362px;
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 100px;
  
    background-color: #22212c;
  }

  .conteudo-principal .projetos .projeto-1 {
    border: 1px;
    border-radius: 20px;
  
    width: 348px;
    height: 348px;
    left: 40px;
    top: 362px;
    margin-right: 40px;
    margin-left: 60px;
  
    background-color: var(--bg-cards);
  }

  .conteudo-principal .projetos .projeto-2 {
    border: 1px;
    border-radius: 20px;
  
    width: 348px;
    height: 348px;
    left: 40px;
    top: 362px;
    margin-right: 40px;
    margin-left: 60px;
  
    background-color: var(--bg-cards);
  }

  .conteudo-principal .titulo-technologies {
    align-items: center;
    border: 1px;
    border-radius: 20px;
  
    width: 348px;
    left: 40px;
    top: 362px;
    margin-right: 40px;
    margin-left: 60px;
  
    background-color: var(--bg-cards);
  }

  .conteudo-principal .technologies {
    border: 1px;
    border-radius: 20px;
  
    width: 348px;
    height: 348px;
    left: 40px;
    top: 362px;
    margin-right: 40px;
    margin-left: 60px;
  
    background-color: var(--bg-cards);
  }

  .conteudo-principal .technologies ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .conteudo-principal .titulo-publicacoes {
    border: 1px;
    border-radius: 20px;
  
    width: 348px;
    left: 40px;
    top: 362px;
    margin-right: 40px;
    margin-left: 60px;
  
    background-color: var(--bg-cards);
  }

  .conteudo-principal .publicacoes {
    display: flex;
    border: 1px;
    border-radius: 20px;
  
    width: 348px;
    height: 348px;
    left: 40px;
    top: 362px;
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 60px;
    margin-bottom: 40px;
  
    background-color: var(--bg-cards);
  }

  .conteudo-principal .publicacoes img {
    border-radius: 100%;
    width: 80px;
    height: 80px;;
  }
  
  .conteudo-principal .publicacoes-conteudo {
    display: block;
    text-align: right;
  }
}